.background-img-product-container {
  max-width: 1000px;
  height: 300px;
  background-image: url("/images/products/background-product-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(30%);
  margin: 0 auto 2rem auto;
}
