.breadcrumb-container {
  max-width: 1000px;
  margin: 0 auto;

  .breadcrumb {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  .breadcrumb > .breadcrumb-item {
    font-size: $text-p;
  }

  .breadcrumb > .breadcrumb-item > a {
    text-decoration: none;
    color: black;
  }
  .breadcrumb > .breadcrumb-item > a:hover {
    opacity: 0.5;
    text-decoration: underline;
  }
}
