.product-container {
  .product-row-1 {
    display: flex;
    margin: 0 auto 2rem auto;
  }
  .product-row-2 {
    display: flex;
    margin: 0 auto 2rem auto;
  }
  .product-row > .col-6 {
    width: auto;
    margin: 0 auto;
  }
  .product-row > .col-6:hover {
    opacity: 0.7;
    border: 0.1px solid $primary-color;
    border-radius: 5px;
  }
  .product-row > .col-6 {
    a {
      text-decoration: none;
      color: gray;
      font-family: $font-text;
    }
    .card {
      width: 300px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-body {
        display: flex;
        flex: none;
        flex-direction: row;
        justify-content: space-between;
        .text-container {
          flex-direction: column;
          width: fit-content;
        }
      }
      .card-body > .text-container > .card-title {
        color: black;
        font-size: $text-s-head;
        width: fit-content;
      }
      .card-body > .text-container > .card-text {
        font-size: $text-p;
        font-family: $font-text;
        width: fit-content;
      }
      .card-body > .icon-container > svg {
        background: none;
        border: none;
        cursor: pointer;
      }
      .card-body > .icon-container > svg:hover {
        fill: #e26e49;
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .product-page-container > .row {
    width: fit-content;
    margin: 0 auto;
  }
  .product-container {
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    .product-row > .col-6 {
      margin: 0 1rem;
    }
  }
}
@media screen and (max-width: 720px) {
  .product-container {
    .product-row-1 {
      flex-direction: column;
      margin: 0;
    }
    .product-row-2 {
      flex-direction: column;
    }
    .product-row > .col-6 {
      margin: 0.5rem;
      flex-direction: column;
    }
  }
}
